name: catalogue
on: [push]
permissions:
  statuses: write
  contents: read
jobs:
  catalogue:
   if: github.ref != 'refs/heads/main'
   uses: chakra-gitactions/workflows/.github/workflows/nodejs-pipeline.yaml@main
   with:
    project: roboshop
    component: catalogue
    environment: dev
   secrets: inherit #In GitHub Actions, secrets: inherit is used in reusable workflows 
                    #to allow the caller workflow to pass its own secrets automatically to the called workflow.
   #secrets:#
     #MY_TOKEN: ${{ secrets.MY_TOKEN }}
     #API_KEY: ${{ secrets.API_KEY }}
